body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 20px;
    
}

nav {
    
}
.navbar-brand, .nav-link {
    color: #007bff !important;
}

.introduction {
    text-align: center;
    margin-top: 50px;
    background: #e8eaecd4;
    padding: 30px;
    border-radius:32% 20%
    
}

.btn-custom {
    margin: 5px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.btn-custom:hover {
    background-color: #0056b3;
    color: #fff;
}

footer{
    background-color: #e6e9ec
    padding: 20px 0;
    text-align:center;
    margin-top: 50px;
}

.footer-link {
    margin: 0 10px;
    color: #007bff;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}


header, footer {
    position: sticky; 
    background: #e8eaec9f;
}